<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Interior</title>
    <link href="\static\style.css" rel="stylesheet">
</head>
<body>
        <header class="main-header">
        
    
            <nav class="navbar">
                <ul>
                    <h4><em><underline>DREAM INTERIORS</underline></em></h4>
                    <li><a href="{{''}}">HOME</a></li>
                    <li><a href="{{'about'}}">ABOUT US</a></li>
                    <li><a href="{{'services'}}">SERVICES</a></li>
                    <li><a href="{{'gallery'}}">GALLERY</a></li>
                    <li><a href="{{'contact'}}">CONTACT</a></li>
                    <li><a href="{{'login'}}">LOGIN</a></li>
                    <li><a href="{{'register'}}">REGISTER</a></li>
                </ul>
                <div class="about">
                    <h2><u><i><b>ABOUT US</b></i></u></h2>
                <br> At Dream Interior, we believe that every space has the potential to tell a unique story. With a passion for design and an eye for detail, we specialize in transforming interiors into stunning, functional spaces that reflect your personality and lifestyle.<br>

<br>Our team of skilled designers combines creativity, innovation, and expertise to craft environments that inspire and elevate everyday living. Whether it’s a cozy home makeover or a sophisticated commercial project, we work closely with you to bring your vision to life.<br>

<br>Dream Interior is more than a design studio—it’s a promise to create spaces you’ll love and cherish for years to come.<br><br>
                </div>
            </nav>
    </header>
    <footer>
        123 Main Street ,ABC Town, Karachi
    </footer>
</body>
</html>