<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Interior</title>
    <link href="\static\style.css" rel="stylesheet">
</head>
<body>
        <header class="main-header">
        
    
            <nav class="navbar">
                <ul>
                    <h4><em><underline>DREAM INTERIORS</underline></em></h4>
                    <li><a href="{{''}}">HOME</a></li>
                    <li><a href="{{'about'}}">ABOUT US</a></li>
                    <li><a href="{{'services'}}">SERVICES</a></li>
                    <li><a href="{{'gallery'}}">GALLERY</a></li>
                    <li><a href="{{'contact'}}">CONTACT</a></li>
                    <li><a href="{{'login'}}">LOGIN</a></li>
                    <li><a href="{{'register'}}">REGISTER</a></li>
                </ul>
                <div class="gallery">
                    <h2><u><i><b>GALLERY</b></i></u></h2>
        
                    <table>
                        <tr>
                            <td>
                        <figure>
                            <img src="\static\backgroud.dream.interior.jpg" alt="Studio Design"
                            widht="250px"
                            height="200px">
                            <figcaption>STUDIO DESIGN</figcaption>
                        </figure>
                            </td>
                            <td>
                        <figure>
                            <img src="\static\gallery.photo.6.avif" alt="Drawing Room Design"
                            widht="250px"
                            height="200px"
                            background-color= "rgb(182, 182, 145)">
                            <figcaption>DRAWING ROOM DESIGN</figcaption>
                        </figure>
                          </td>
                          <td>
                            <figure>
                                <img src="\static\gallery photo 8.webp" alt="Kitchen Design 2"
                                widht="250px"
                                height="200px"
                                background-color= "rgb(182, 182, 145)">
                                <figcaption>KITCHEN DESIGN 2</figcaption>
                            </figure>
                              </td>
                              <td>
                        <figure>
                            <img src="\static\gallery.photo.4.jpg" alt="Gallery Design"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>GALLERY DESIGN</figcaption>
                        </figure>
                        </td>
                        <td>
                        <figure>
                            <img src="\static\background.naaz.interior.jpg" alt="Picture Studio Design"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>PICTURE STUDIO DESIGN</figcaption>
                        </figure>
                        </td>
                        <td>
                        <figure>
                            <img src="\static\gallery.photo.7.jpg" alt="Bedroom Design 2"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>BEDROOM DESIGN 2</figcaption>
                        </figure>
                        </td>
    
                          
                        </tr>
                        <tr>
                            <td>
                        <figure>
                            <img src="\static\gallery.photo.4.jpg" alt="Lounge Design"
                            widht="250px"
                            height="200px"
                            background-color="rgb(182, 182, 145)">
                            <figcaption>LOUNGE DESIGN</figcaption>
                        </figure>
                        <td>
                            <figure>
                                <img src="\static\gallery.photo.3.jpeg" alt="Kitchen Design"
                                widht="250px"
                                height="200px"
                                background-color="rgb(182, 182, 145)">
                                <figcaption>KITCHEN DESIGN</figcaption>
                            </figure>
                    
                         <td>
                        <figure>
                            <img src="\static\gallery.photo.5.jpg" alt="Bedroom Design"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>BEDROOM DESIGN</figcaption>
                        </figure>
                        </td>
                        <td>
                        <figure>
                            <img src="\static\gallery.photo.9.jpg" alt="Kitchen Design3"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>KITCHEN DESIGN3</figcaption>
                        </figure>
                        </td>
                        <td>
                        <figure>
                            <img src="\static\galleryphoto1.webp" alt="Drawing Room Design"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>DRAWING ROOM DESIGN</figcaption>
                        </figure>
                        </td>
                        <td>
                        <figure>
                            <img src="\static\gallery.photo.2.png" alt="Balcony Design"
                            widht="250px"
                            height="200px"
                            background-color=" rgb(182, 182, 145)">
                            <figcaption>BALCONY DESIGN</figcaption>
                        </figure>
                        </td>
                         </tr>
                    </table>
                    
        </div>
    </header>

    <footer>
        123 Main Street, ABC Town, Karachi
    </footer>
</body>
</html>

