<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Interiors</title>
    <link href="\static\style.css" rel="stylesheet"> 
</head>

<body>
    <header class="main-header">
        
    
        <nav class="navbar">
            <ul>
                <h4><em><underline>DREAM INTERIORS</underline></em></h4>
                <li><a href="{{''}}">HOME</a></li>
                <li><a href="{{'about'}}">ABOUT US</a></li>
                <li><a href="{{'services'}}">SERVICE</a></li>
                <li><a href="{{'gallery'}}">GALLERY</a></li>
                <li><a href="{{'contact'}}">CONTACT</a></li>
                <li><a href="{{'login'}}">LOGIN</a></li>
                <li><a href="{{'register'}}">REGISTER</a></li>
            </ul>
            <div class="welcome">
                <i><b>"Welcome to Dream Interior, where your dream spaces come to life."</b></i>
            </div>
        </nav>
    </header>
    <footer>
        123 Main Street ,ABC Town, Karachi
    </footer>
</body>        
</html>