<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Interior</title>
    <link href="\static\style.css" rel="stylesheet">
</head>
<body>
        <header class="main-header">
        
    
            <nav class="navbar">
                <ul>
                    <h4><em><underline>DREAM INTERIORS</underline></em></h4>
                    <li><a href="{{''}}">HOME</a></li>
                    <li><a href="{{'about'}}">ABOUT US</a></li>
                    <li><a href="{{'services'}}">SERVICES</a></li>
                    <li><a href="{{'gallery'}}">GALLERY</a></li>
                    <li><a href="{{'contact'}}">CONTACT</a></li>
                    <li><a href="{{'login'}}">LOGIN</a></li>
                    <li><a href="{{'register'}}">REGISTER</a></li>
                </ul>
                
               
                    
                
                
                <form>
                    <div class="login">
                        <h2><u><i><b> LOG IN </u></b></i></h3>
                    <fieldset>
                        <legend style="font-weight: bold;
                        font-size: larger;
                        color: rgb(13, 13, 72);">Welcome to Login portal </legend>
                    <!--username-->
                    <label for="name">Username</label><br>
                     <input type="text" placeholdder="Your Name Here" required>
                     <!--password-->
                     <br><br>
             <label for="pass">Password</label><br>
             <input type="password" placeholdder="Your Password Here" required>
                <div class="button">
                     <button><a type="savedata">Log in</a></button>
                     <button><a href="{{'register'}}">Register</a></button>
                     
                
                </form>
    </header>
    <footer>
        123 Main Street ,ABC Town, Karachi
    </footer>
</body>
</html>