<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Interior</title>
    <link href="\static\style.css" rel="stylesheet">
</head>
<body>
        <header class="main-header">
        
    
            <nav class="navbar">
                <ul>
                    <h4><em><underline>DREAM INTERIORS</underline></em></h4>
                    <li><a href="{{''}}">HOME</a></li>
                    <li><a href="{{url_for('about')}}">ABOUT US</a></li>
                    <li><a href="{{url_for('services')}}">SERVICES</a></li>
                    <li><a href="{{url_for('gallery')}}">GALLERY</a></li>
                    <li><a href="{{url_for('contact')}}">CONTACT</a></li>
                    <li><a href="{{url_for('login')}}">LOGIN</a></li>
                    <li><a href="{{url_for('register')}}">REGISTER</a></li>
                </ul>
                <div class="about">
                    <h2><u><i><b>WHY US??</b></i></u></h2>
                    <br>
               
                <tr>
                    <td>
                <p>At Dream Interiors, we don’t just design spaces; we create environments that inspire, comfort, and reflect your unique personality. With a commitment to excellence, attention to detail, and a passion for creativity, we stand out as a trusted partner for all your interior design needs. Our team of experienced designers combines innovative ideas with practical solutions to transform any space into a masterpiece. Whether you’re seeking a modern aesthetic, a timeless classic, or something uniquely yours, we bring your vision to life with precision and care. Choose Dream Interiors and experience the difference of working with a team that values your dreams as much as you do.</p>
                    </td>
                    <td>
                        <img src="\static\best.service.jpg"
                        width="500"
                        height="250">
                    </td>
            </div>
            </nav>
    </header>
    <footer>
        123 Main Street ,ABC Town, Karachi
    </footer>
</body>
</html>